* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk','Poppins','Source Sans 3', sans-serif; 
    background-color: #fff8e7;
}

nav {
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:0rem 50px;
    background-color: #fff8e7;
    
}

nav a:hover {
    color:#f4ca81;
}

.logo {
    padding: 2em;
    color: #000;
    font-size: 1.75rem;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
}

nav a {
    text-decoration:none;
    color:#000;
    padding:0 1.5rem;
    font-family: "Poppins", sans-serif;
}


.hero_container{
    display:grid;
    height: 90vh;
    padding:0rem 50px;
    grid-template-columns: 1fr 1fr;
    width:100%;
    max-width:1300px;
    align-items: center;
    margin-left: 10rem ;
}

.column_right{
    display:flex;
    flex-direction: column;
    justify-self: left;
    align-items:center;
    color:#000;
    padding:0rem 2rem;
}

.column_right h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-family:'Poppins', sans-serif;
}

.column_right p {
    margin-bottom: 2rem;
    font-size: 1.15rem;
    line-height: 1.5;
    font-family:'Poppins', sans-serif;
}

button {
    padding: 1rem 3rem;
    background: #000;
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-family:'Poppins', sans-serif;
    }

button:hover {
    background-color: #f4ca81;
    color: #000;
}

.column_left {
    display:flex;
    justify-content:left;
    align-items: right;
    padding: 0rem 2rem;
    max-width:50%;
    
}
.column_left img {
    width: 40vh;
    height: 40vh;
    border: 2px solid #fff8e7;
    border-radius: 50%;
    align-self: right;
    
    
}

hr {
    width:100%;
    color:#000;
}

.footer {
    height:10vh;
    width:100%;
    padding: 0rem 50px;
    margin: 0 45%;
    display: flex;
    flex: auto;
    align-items: center;
    color:#000;
    
}


.footer svg {
    height: 50px;
    width: 50px;
    padding:10px;
    margin: 0 auto;
    vertical-align:middle;
}

.footer a{
    text-decoration: none;
    color:#000;
    
}

.footer a:hover{
    color: #f4ca81;
}

@media screen and (max-width:768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}