.light-theme {
    --text: #031521;
    --background: #f1f8fe;
    --primary: #0b5183;
    --secondary: #7e71f4;
    --accent: #4312d3;
  }

  :root {
    --text: #def0fc;
    --background: #01080e;
    --primary: #7bc2f4;
    --secondary: #3326A8;
    --accent: #180b8e;  
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk','Poppins', sans-serif; 
    background: var(--background);
}


/*.cursor {
    width: 25px;
    height: 25px;
    background: #fff;
    margin:0 ;
  background-size: 1600% 1600%;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  border-radius: 50%;
  top:80px;

}*/

.logo {
    padding: 2em;
    font-size: 1.75rem;
    font-family:'Space Grotesk', sans-serif;
    font-weight: bold;
    color:var(--text);
    /*animation: slide-left 1.3s cubic-bezier(.24,.56,.49,.99);*/
}

@keyframes slide-left {
    0%{
        transform: translateX(-10%);
        opacity: 0;
    };
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

nav {
    height: 80px;
    display:flex;
    align-items: center;
    padding:0rem 50px;
    justify-content:space-between; 
    top: 0;
    position:sticky;
    background-color: var(--background);
    
}

nav a{
    text-decoration:none;
    padding:0 1.5rem;
    font-family: "Space Grotesk", sans-serif;
    color:var(--text);
    
}

nav a:hover, #mode_icon:hover {
    color:var(--primary);
    text-shadow: 0.5px 0.5px var(--text);
    size:  75%;
}

#mode_icon {
    cursor:pointer;
    color:var(--text);
} 

main {
    height:200vh;
}

.hero_container {
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 0 50px;
}

.hero_container h1 {
    font-size: 8rem;
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(135deg,var(--primary),var(--secondary));
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;  
    animation: slide-up 1.5s cubic-bezier(.24,.56,.49,.99) 0.8s backwards;
    
    
}

.hero_container p {
    font-size:3rem;
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(135deg,var(--primary),var(--secondary));
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;  
    animation: slide-up 1.5s cubic-bezier(.24,.56,.49,.99) 0.8s backwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(200%);
        opacity: 0;
    };
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

hr {
    width:100%;
    color:#0b5183;
}

.social {
    height:10vh;
    padding: 0rem 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}


.social svg {
    height: 50px;
    width: 50px;
    padding:10px;
    margin: 0 auto;
    vertical-align:middle;
    ;
}

.social a{
    text-decoration: none; 
    color:var(--text);
}

.social a:hover{
    color: var(--primary);
}

.copyright {
    padding-bottom: 50px;
    font-size: 1rem;
    color:var(--text);
    text-align:center;
}