:root {
    --text: #031521;
    --background: #f1f8fe;
    --primary: #0b5183;
    --secondary: #7e71f4;
    --accent: #4312d3;
  }

  .dark-theme {
    --text: #def0fc;
    --background: #01080e;
    --primary: #7bc2f4;
    --secondary: #3326A8;
    --accent: #180b8e;  
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk','Poppins','Source Sans 3', sans-serif; 
    background-color: var(--background);
}

body {
    width:100%;
}

.logo {
    padding: 2em;
    font-size: 1.75rem;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    color:var(--text);
}

nav {
    height:80px;
    display:flex;
    align-items: center;
    padding:0rem 50px;
    justify-content:space-between; 
}

nav a{
    text-decoration:none;
    padding:0 1.5rem;
    font-family: "Poppins", sans-serif;
    color:var(--text);
}


nav a:hover, #mode_icon:hover {
    color:#0b5183;
}

#mode_icon {
    cursor:pointer;
    color:var(--text);
}


.hero_container {
    width:100%;
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.hero_container h1 {
    font-size: 10rem;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg,var(--primary),var(--secondary));
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

.hero_container p {
    font-size:3rem;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg,var(--primary),var(--secondary));
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

hr {
    width:100%;
    color:#0b5183;
}

.footer {
    height:10vh;
    padding: 0rem 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    
}


.footer svg {
    height: 50px;
    width: 50px;
    padding:10px;
    margin: 0 auto;
    vertical-align:middle;
}

.footer a{
    text-decoration: none;
    color:var(--text);
    
}

.footer a:hover{
    color: #0b5183;
}